name: UBB
description: Babes-Bolyai

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  css_colors:  
  collection: 
  url_launcher: 
  curved_navigation_bar: ^0.2.1
  connectivity:
  shimmer:
  transparent_image:
  http:
  liquid_pull_to_refresh:
  rounded_floating_app_bar:
  sorted_chips_row: #de implementat
  flutter_swiper : 
  flutter_sparkline: 
  flutter_staggered_grid_view: 
  flip_card:      #de vazut 
  flutter_html_widget:
  flutter_offline: "^0.2.4"
  flutter_debug_drawer:
  percent_indicator:
  flutter_calendar_carousel:
  flutter_html:
  imap_client:
  mobile_popup:
  flutter_multi_carousel:
  shared_preferences:
  # local_auth:

  # tutorial_coach_mark:
 
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
     - assets/logo.png
     - assets/alucard.jpg
     - assets/tick.png
     - assets/avatar.png
     - assets/backdrop.png
     - assets/video1_thumb.png
     - assets/video4_thumb.png
     - assets/video3_thumb.png
     - assets/video2_thumb.png
  fonts:
      - family: Nunito
        fonts:
          - asset: assets/Nunito.ttf
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
